{% extends "browsing/generic_list.html" %}
{% block Titel %}Suchen und Filtern{% endblock %}
{% block list_title %}Gefallene Tiroler
    {% if user.is_authenticated %}
        | <a class ="btn btn-success"  href="#">Neuen Eintrag anlegen</a>
    {% endif %}
{% endblock %}

{% block reset_button %}
<!-- <a class ="btn btn-default"  id="01">Show/Hide Advanced search options</a></br> -->
 <p></p>
 <a class ="btn btn-default"  href="{% url 'browsing:browse_persons' %}">Filter zurücksetzen</a>     
{% endblock %}

{% block customScripts %}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>

var brithplaces = [{% for name in brithplaces %} "{{ name }}", {% endfor %}];
var deathplaces = [{% for name in deathplaces %} "{{ name }}", {% endfor %}];

    $(function() {
        $("#id_geburtsort__name").autocomplete({
            source:brithplaces
        }); 
    });

    $(function() {
        $("#id_sterbeort__name").autocomplete({
            source:deathplaces
        }); 
    });
</script>
{% endblock %}
