{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
 {% load crispy_forms_tags %}

<form method="post" action="" class="form-signin">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-primary">Log-in</button>

</form>

or try 
<li><a href="{% url 'social:begin' 'facebook' %}">facebook</a></li>
<li><a href="{% url 'social:begin' 'google-oauth2' %}">google</a></li>
{% endblock %}